@media only screen and (max-width: 768px) {
        .header_mainbox {
        display: none;
    /* position: absolute;
    width: 100%; */
    }
    .main {
      flex-direction: column;
    }
  
}

@media only screen and (max-width: 380px) {
    .burger {
    display: block;
}
}