@media only screen and (max-width: 768px) {
    .header_mainbox {
        position: fixed;
        width: 100%;
        height: 9vh;
        border-top: 2px solid lightgray;
        bottom: 0;
        background-color: white;

    }

    .head_ul {
        flex-direction: row;
        padding-top: 0px;

    }

    .head_li {
        width: 20%;
        height: 9vh;
        border-right: 2px solid lightgray;
        justify-content: center;
        margin-bottom: 0px;

    }

    .head_a {
        margin-left: 0px;
        font-size: 80%;

    }

    .add_mainbox {
        width: 100%;
        margin-left: 0%;
        border-top: 2px solid lightgray;
        border-bottom: 2px solid lightgray;

    }

    .addmed {
        width: 100%;
        height: 67%;

    }
}

@media only screen and (max-width: 424px) {


    .so_btnn {
        width: 100px;
    }
}

@media only screen and (max-width: 380px) {
    .lead_mainbox {
        width: 100%;
    }

    .so_btnn {
        width: 80px;
    }
}
